<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Image Sorter</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container-2">
        <input type="text" id="tag-search" placeholder="Search by tag...">
        <div class="toggle-group">
            <label>
                <input type="checkbox" id="hide-toggle" checked>
                Hide images with tag:
            </label>
            <input type="text" id="hide-tag-input" placeholder="Enter tag to hide" value="">
        </div>
        <div>
            <button onclick="renameAllFiles()">Rename All Files & Generate Thumbnail</button>
        </div>
    </div>
    <div class="container">
        <div id="image-list" class="scrollable"></div>
        <div class="preview-panel">
            <div id="main-preview-wrapper">
                <img id="image-preview" src="https://via.placeholder.com/600x400?text=Select+an+Image" alt="Preview">
            </div>
            <p>File: <span id="file-name"></span></p>
            <div class="button-group">
                <button id="copy-full-url-btn">Copy Full URL</button>
                <button id="copy-filename-btn">Copy Filename</button>
            </div>
            <p>Tags:</p>
            <div id="tag-list"></div>
            <input type="text" id="tag-input" placeholder="Add a tag">
            <button id="add-tag-btn">Add Tag</button>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>

</html>